<section class="hero">
  <div class="hero__top hero-decor">
    <div class="container hero__head">
        <h2 class="hero__title text-p-default">Pricing plans 🤑</h2>
        <p class="hero__descr heading-h1">Choose a plan for a more advanced business</p>
        <label class="hero__switcher-wrapper">
          <span class="hero__switcher">
            <input class="hero__switcher-checkbox" type="checkbox" />
          </span>
          <span class="hero__switcher-text text-p-default">Annual pricing (save 20%)</span>
        </label>
    </div>
  </div>

  <div class="hero__plans">
    <div class="container">123123123</div>
  </div>
</section>
