.footer {
  padding: 112px 0 58px;
  color: #fff;
  background-color: var(--black-bg-color);

  @include mobile {
    padding-top: 62px;
  }

  &__head {
    @include flex-all-between;
    margin-bottom: 134px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 84px;
    }

    @include mobile {
      align-items: center;
      margin-bottom: 64px;
      text-align: center;
    }

    @include small-mobile {
      margin-bottom: 44px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    @include tablet {
      font-size: 54px;
    }

    @include mobile {
      font-size: 42px;
    }
  }

  &__descr {
    max-width: 543px;
    font-weight: 500;
    line-height: 32px;
    color: var(--neutral-color-50);
  }

  &__link {
    padding: 16px 32px;
    color: #1d1e25;
    background-color: #fff;
  }

  &__body {
    @include flex-all-between;
    margin-bottom: 56px;

    @include tablet {
      gap: 40px;
      flex-direction: column;
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column-reverse;
    }

    &-info {
      @include tablet {
        @include flex-align-center;
        gap: 30px;
      }

      @include small-tablet {
        gap: 10px;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
    }

    &-descr {
      max-width: 292px;
      font-weight: 500;
      line-height: 26px;
      color: var(--neutral-color-150);

      @include tablet {
        max-width: 500px;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin-bottom: 19px;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    @include tablet {
      width: 100%;
    }

    @include mobile {
      display: none;
    }

    &-mobil {
      display: none;

      @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__list {
    display: flex;
    gap: 93px;

    @include mini-desktop {
      gap: 53px;
      justify-content: center;
    }

    @include tablet {
      justify-content: space-between;
    }

    @include mobile {
      gap: 40px 60px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include small-mobile {
      text-align: center;
    }

    &-mobil {
      display: none;

      @include mobile {
        display: block;
      }
    }
  }

  &__item {
    &-mobil {
      align-items: center;
      justify-content: center;
      margin-bottom: 25px;
      margin-left: 40%;
      max-width: 250px;
    }

    &-title {
      margin-bottom: 10px;
      font-weight: 700;
      line-height: 24px;
      color: #fff;
    }

    @include mobile {
      min-width: 143px;
    }
  }

  &__sublist {
    @include mobile {
      overflow: hidden;
      width: 100%;
      max-height: 0;
      transition: var(--transition);
    }
  }

  &__subitem {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-link {
      position: relative;
      font-weight: 400;
      line-height: 24px;
      color: var(--neutral-color-150);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: var(--neutral-color-150);
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__bottom {
    @include flex-all-between;
    gap: 20px 40px;
    flex-wrap: wrap;
    border-top: 1px solid var(--neutral-color-70);
    padding-top: 40px;

    @include tablet {
      justify-content: center;
    }

    &-lists {
      @include flex-align-center;
      gap: 72px;

      @include tablet {
        gap: 42px;
      }

      @include mobile {
        gap: 20px;
        flex-direction: column;
      }
    }

    &-list {
      display: flex;
      gap: 40px;

      @include tablet {
        gap: 20px;
      }

      @include small-mobile {
        gap: 10px 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-link {
      position: relative;
      font-weight: 500;
      line-height: 20px;
      color: #fff;

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        height: 1px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity var(--transition),
          visibility var(--transition);
      }

      &:hover {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__social {
    &-list {
      @include flex-align-center;
      gap: 24px;

      @include tablet {
        gap: 18px;
      }
    }

    &-link {
      transition: opacity var(--transition);

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__copyright {
    max-width: 259px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
  }
}
