<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__descr text-p-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper insight__slider">
      <div class="insight__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/images/insight-slide-1-img.jpg"
            width="582"
            height="332"
            alt="Woman typing on laptop and writing on a notebook"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/images/insight-slide-2-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/images/insight-slide-1-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            class="insight__article-img"
            loading="lazy"
            src="./assets/images/insight-slide-2-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="insight__article-head text-p-small">
            <div class="insight__article-date">
              Published in Insight
              <time datetime="2024-01-30">Jan 30, 2024</time>
            </div>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
      </div>
      <div class="insight__btns">
        <button class="insight__btn insight__btn--prev-1">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button class="insight__btn insight__btn--next-1">
          <svg
            width="16"
            height="14"
            viewBox="0 0 16 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
